table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
   
}
.center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
    padding: 10px;
    
}

th{
    background-color: #af8dae;
    color: white;
}
